@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 17% 16%;
    --foreground: 213 11% 82%;
    --card: 215 17% 20%;
    --card-foreground: 213 11% 82%;
    --popover: 215 17% 12%;
    --popover-foreground: 213 11% 82%;
    --primary: 175 41% 50%;
    --primary-foreground: 215 17% 10%;
    --secondary: 215 17% 25%;
    --secondary-foreground: 213 11% 82%;
    --muted: 215 17% 25%;
    --muted-foreground: 213 11% 60%;
    --accent: 175 41% 50%;
    --accent-foreground: 215 17% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 17% 25%;
    --input: 215 17% 25%;
    --ring: 175 41% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 17% 16%;
    --foreground: 213 11% 82%;
    --card: 215 17% 20%;
    --card-foreground: 213 11% 82%;
    --popover: 215 17% 12%;
    --popover-foreground: 213 11% 82%;
    --primary: 175 41% 50%;
    --primary-foreground: 215 17% 10%;
    --secondary: 215 17% 25%;
    --secondary-foreground: 213 11% 82%;
    --muted: 215 17% 25%;
    --muted-foreground: 213 11% 60%;
    --accent: 175 41% 50%;
    --accent-foreground: 215 17% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 17% 25%;
    --input: 215 17% 25%;
    --ring: 175 41% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
